{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User_id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Password</th>
                <th>EmailAddress</th>
                <th>Role</th>
                <th>AccountStatus</th>
                <th>DateCreated</th>
                <th>LastLogin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.emailAddress }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.accountStatus }}</td>
                <td>{{ user.dateCreated ? user.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'user_id': user.user_id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'user_id': user.user_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
